body {
  background-image: -webkit-gradient(
    linear,
    left bottom,
    right top,
    color-stop(0, #FFFFFF),
    color-stop(0.73, #FAD5D5),
    color-stop(1, #EDA8A8)
  );
  background-image: -o-linear-gradient(right top, #FFFFFF 0%, #FAD5D5 73%, #EDA8A8 100%);
  background-image: -moz-linear-gradient(right top, #FFFFFF 0%, #FAD5D5 73%, #EDA8A8 100%);
  background-image: -webkit-linear-gradient(right top, #FFFFFF 0%, #FAD5D5 73%, #EDA8A8 100%);
  background-image: -ms-linear-gradient(right top, #FFFFFF 0%, #FAD5D5 73%, #EDA8A8 100%);
  background-image: linear-gradient(to right top, #FFFFFF 0%, #FAD5D5 73%, #EDA8A8 100%);
}

h1 {
  text-align: center;
  font-weight: 900; 
  font-size: 50px;
  color: #cb130f;
  margin-bottom: 1%;
  margin-top: 1%;

}

#bio{
  margin: 1%;
}

#bio_photo img {
  width: 100%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  vertical-align: middle;
}


#bio_text{
  vertical-align: middle;
}

#bio_text p {
  margin-top: 2%;
  margin-bottom: 1%;
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
}



#footie {
  height: 4em;
  padding-top: 2em;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(146, 137, 144, 0.20);
  
}

#footie a {
  margin: 1%;
  font-weight: 700; 
  color: rgba(203,19,15,1);
  text-decoration: none;
  font-size: 16px;
}

#footie a:hover{
  color: rgba(203,19,15,0.5);
}