
body {
background-image:url('https://news.uns.purdue.edu/images/+2009/horse-sculpture.jpg');
background-repeat:no-repeat;
font-family: 'Source Sans Pro', sans-serif;
/*background-size:contain;
*//*background-position:center;*/
}

h1{
  color: #606060;
  text-align: center;
}

h3{
  color: #3C3C3C;
  text-align: center;
  font-style:italic;
}

#center{
  text-align: center;
  margin-left: auto;
  margin-right: auto;

}

#center a{
  margin: 1%;
  font-weight: 700; 
  color: rgba(168, 202, 186, 1);
  text-decoration: none;
}

#center a:hover{
  color: rgba(168, 202, 186, 0.5)
}