
body {
background-image:url('http://i.imgur.com/RhY7XMf.jpg');
background-image:url('http://i.imgur.com/JUhXm5D.jpg');

background-repeat:no-repeat;
font-family: 'Source Sans Pro', sans-serif;
/*background-size:contain;*/
background-position:center;
}


h1{
  color: #ffffff;
  text-align: center;
}

h3{
  color: #ffffff;
  text-align: center;
  font-style:italic;
}

#center{
  text-align: center;
  margin-left: auto;
  margin-right: auto;

}

#center a{
  margin: 1%;
  font-weight: 700; 
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

#center a:hover{
  color: rgba(255, 255, 255, 0.5)
}