
#nav{
  padding: 1em;
  background-color: yellow;
}

#navlinks{
  color: #ffffff;
  color: red;
  float: right;
  font-size: 20px;
  padding: 10px;
  text-decoration: none;
  vertical-align: center;
}

#navtitle{
  color: #ffffff;
  float: left;
  color: red;
  font-size: 30px;
  text-decoration: none;
  vertical-align: center;
}

#navlinksbold{
  color: #ffffff;
  color: red;
  text-decoration: underline;
  float: right;
  font-size: 25px;
  padding: 10px;
  vertical-align: center;
}



