 #pics{
  position: relative;
  width: 90%;
 }
 
#hidden_pics{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  overflow: scroll;


}

#hidden_pics:hover{
  visibility: visible;
  opacity: 1;
  width: 100%;
  height: 100%;
}

/*color choices for boxes*/
#rb-grid li:nth-child(1) { 
  border-style:solid;
  border-color:#5D4157; 
}
#rb-grid li:nth-child(2) { background: #838689; }
#rb-grid li:nth-child(3) { background: #A8CABA; }
#rb-grid li:nth-child(4) { background: #CAD7B2; }
.rb-grid li:nth-child(5) { background: #EBE3AA; }
.rb-grid li:nth-child(6) { background: #5D4157; }
.rb-grid li:nth-child(7) { background: #838689; }
.rb-grid li:nth-child(8) { background: #A8CABA; }
.rb-grid li:nth-child(9) { background: #CAD7B2; }
.rb-grid li:nth-child(10) { background: #EBE3AA; }



/*for smaller screens, boxes arent in grid*/
@media screen and (max-width: 63.125em) {
     
    .rb-grid li,
    .rb-grid li.rb-span-2,
    .rb-grid li.rb-span-4 {
        width: 100%;
        height: 10em;
        text-align: left;
    }
 
    .rb-grid li[class^="icon-"]:before,
    .rb-grid li[class*=" icon-"]:before {
        font-size: 6em;
        left: auto;
        right: 0;
        line-height: 2.5;
    }
 
    .rb-grid li > div {
        text-align: center;
    }
}