


#box{
  margin-bottom: 3em;
}

#center{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
a{
  text-decoration: none;
  padding: 10px;
}
#GridLinks{
  text-align: center;
  color: #ffffff;
  font-size: 30px;
}

#color{
  margin: 0px;
  padding: 0px; 
}
#DarkRed{
  background-color: rgba(203,19,15,1);
  height: 15em;
  margin: 0px;
  padding: 0px;
}

#MediumRed {
  background-color: rgba(203,19,15,0.6);
  height: 15em;
  margin: 0px;
  padding: 0px;
}

#LightRed{
  background-color: rgba(203,19,15,0.3);
  height: 15em;
  margin: 0px;
  padding: 0px;
}

