/*body{
  background-image: -webkit-gradient(
    linear,
    left bottom,
    right top,
    color-stop(0, #FFFFFF),
    color-stop(0.73, #FAD5D5),
    color-stop(1, #EDA8A8)
  );
  background-image: -o-linear-gradient(right top, #FFFFFF 0%, #FAD5D5 73%, #EDA8A8 100%);
  background-image: -moz-linear-gradient(right top, #FFFFFF 0%, #FAD5D5 73%, #EDA8A8 100%);
  background-image: -webkit-linear-gradient(right top, #FFFFFF 0%, #FAD5D5 73%, #EDA8A8 100%);
  background-image: -ms-linear-gradient(right top, #FFFFFF 0%, #FAD5D5 73%, #EDA8A8 100%);
  background-image: linear-gradient(to right top, #FFFFFF 0%, #FAD5D5 73%, #EDA8A8 100%);
}
*/

#box{
  margin-bottom: 3em;
}

#center{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
a{
  text-decoration: none;
  padding: 10px;
}
#GridLinks{
  text-align: center;
  color: #ffffff;
  font-size: 30px;
}

#color{
  margin: 0px;
  padding: 0px; 
}
#DarkRed{
  background-color: rgba(203,19,15,1);
  height: 15em;
  margin: 0px;
  padding: 0px;
}

#MediumRed {
  background-color: rgba(203,19,15,0.6);
  height: 15em;
  margin: 0px;
  padding: 0px;
}

#LightRed{
  background-color: rgba(203,19,15,0.3);
  height: 15em;
  margin: 0px;
  padding: 0px;
}

