<div class="sixteen columns" id="body">
  <h1>Bina Shah</h1>
  <br>
  <div id="center" class="sixteen columns">
    <h2><a id= "links" href="bio.html">Biography</a></h2>
    <h2><a id= "links" href="work.html">Work</a></h2>
  </div>
</div>