/*styling for all of Bina's works*/

#gridrow{
/*  background-color: yellow;*/
/*  text-align: center;*/
}
#thumbs{
  height: 200px;
  width: 80%;
  text-align: center;
  background-color: red;
}

/*
#images{
  height: auto;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

#images2{
  height: 52%;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

#images3{
  height: 51%;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

#images4{
  height: 53%;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

#images5{
  height: 52%;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

#image1{
  height: auto;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding-left: 10px;

}

#image2{
  height: 45%;
  width: auto;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
*/
